@using ChuanQi.Web.Models;
@{
    ViewBag.Title = "出售";
    IList<SaleInfo> lstSaleInfos = ViewData["lstSaleInfos"] as IList<SaleInfo>;
    ChuanQI.Web.Models.Pagination pagination = ViewData["pagination"] as ChuanQI.Web.Models.Pagination;
    string url = "/SaleInfo/Index/";
}

<div class="content" style="height:600px;">

    <div class="container-fluid">
        <div id="pad-wrapper" class="users-list">

            <!-- Users table -->
            <div class="row-fluid table">
                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th class="span2 ">
                                <span class="line"></span> 提交时间
                            </th>
                            <th class="span2 sortable"><span class="line"></span>分区</th>
                            <th class="span3 sortable ">
                                <span class="line"></span>角色名
                            </th>
                            <th class="span3 sortable"><span class="line"></span>出售物品</th>
                            <th class="span3 sortable "><span class="line"></span> 出售价格</th>
                            <th class="span3 sortable "><span class="line"></span>联系方式</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- row -->
                        @{
                            if (lstSaleInfos != null && lstSaleInfos.Count > 0)
                            {


                                foreach (var item in lstSaleInfos)
                                {
                                    <tr>
                                        <td>@item.SubTime.ToString("yyyy-MM-dd")</td>
                                        <td>@item.Place</td>
                                        <td>@item.Name</td>
                                        <td>@item.Product</td>
                                        <td>@item.Price.ToString()</td>
                                        <td>@item.Tel</td>
                                    </tr>
                                }
                            }
                        }

                    </tbody>

                </table>
            </div>
            <div class="pull-right">

                <ul class="pagination">


                    @if (pagination.PageIndex > 1)
                    {
                        <li>
                            <a href="@(url)@(pagination.PageIndex-1)">
                                &laquo;
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="disabled">
                            <a href="@(url)1"> &laquo;</a>
                        </li>
                    }


                    @if ((pagination.PageIndex - 5) > 1)
                    {
                        <li>
                            <a href="@(url)1">
                                ..
                            </a>
                        </li>
                    }

                    @for (int i = pagination.BeginPage; i <= pagination.EndPage; i++)
                    {
                        if (i == pagination.PageIndex)
                        {
                            <li class="active">
                                <a href="@url@i">
                                    @i
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@url@i"> @i </a>
                            </li>
                        }
                    }



                    @if (pagination.PageCount > (pagination.PageIndex + 5))
                    {
                        <li>
                            <a href="@url@pagination.PageCount">
                                ..
                            </a>
                        </li>
                    }
                    @{

                        if (pagination.PageIndex < pagination.EndPage)
                        {
                            <li>
                                <a href="@url@(pagination.PageIndex+1)">
                                    &raquo;
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="disabled">
                                <a href="@url@pagination.EndPage"> &raquo;</a>
                            </li>
                        }
                    }


                </ul>

            </div>
            <span>
                共 @pagination.TotalCount 条记录
            </span>
            <!-- end users table -->
        </div>
    </div>
</div>
